[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
SoulBoardOracle = "HbjHJmYYCSjfyiJWCRvaYWo1vKsgRurFDkrxNnNusVFX"
soulboard = "915wZsHsUJ7Pdei1XUY8jtdfia7D8t4r9XkhGD3TvrDV"

[programs.devnet]
SoulBoardOracle = "HbjHJmYYCSjfyiJWCRvaYWo1vKsgRurFDkrxNnNusVFX"
soulboard = "915wZsHsUJ7Pdei1XUY8jtdfia7D8t4r9XkhGD3TvrDV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/phantom.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
