[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
SoulBoardOracle = "2TKyWdqvRxTB3zhzJ7fFsH9RWtcXk9hoBpGV29XSuvcD"
soulboard = "AiQgeLV5m6kdQsU8A4wFh2zBpzd6D21seseR2SUgQDKB"


[registry]
url = "https://api.apr.dev"

# [provider]
# cluster = "devnet"
# wallet = "~/.config/solana/id.json"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"


[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
